<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>App</title>
</head>
<body>
<h1>Welcome</h1>
<h3>Please register if you are new user</h3>
<button><a href="/registration">Register</a></button>
<h3>Please login if you already have an account</h3>
<button><a href="/login">Login</a></button>

</body>
</html>
