<h3>Please register:</h3>
<form action="/registration" method="post">
    <input type="text" name="name" placeholder="name"> <br>
    <input type="text" name="surname" placeholder="surname"> <br>
    <input type="text" name="email" placeholder="email"> <br>
    <input type="text" name="password" placeholder="password">
    <input type="submit" value="OK">
</form>
